/* Code for resetting CSS */

    /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

/* End of resetting CSS */

/* Begin of my code */

/* The code which follow is to exclude margins in the computation of lenghts */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

/* The following rule enables me to define a height for the middle container using percentage */

html {
    height: 100%;
}

/* -- Classes -- */

/* Universal style for all the navigation links */

a:hover {
    text-decoration: underline;
}

/* Classes for the top navigation bar */

.nav-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
    margin: 10px 10px 0px 0px;
}

.nav-top a {
    font-size: 13px;
    line-height: 27px;
    font-family: arial, sans-serif;
    color: rgb(35, 35, 35);
    text-decoration: none;
    margin: 0px 5px 0px 5px;
}

/* Class for the middle container */

.centered-container {
    display: flex;
    flex-direction: column;  
    align-items: center;
    width: 100%;
    height: 80%;
    position: absolute;    
}

/* Classes for the bottom navigation bar */

.nav-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    padding: 0;
    border-top: 1px solid #dfdfdf;
    border-right: 0;
    border-bottom: 0;
    border-bottom: 0;
    position: absolute;
    bottom: 0px;
    background: #f2f2f2;
}

.nav-bottom a {
    display: inline-block;
    font-size: 14px;
    font-family: arial, sans-serif;
    letter-spacing: -0.01em;
    color: #70757a;
    text-decoration: none;
    margin: 18px 0 18px 0;
}

.nav-bottom-middle {
    width: 60%;
    flex-shrink: 3;
}

.nav-bottom-left a {
    margin-right: 18px;
    flex-shrink: 1;
}

.nav-bottom-right a {
    margin-left: 18px;
    flex-shrink: 1;
}

.search-buttons {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    padding: 8px;
    cursor: pointer;
}

.search-buttons:hover {
    border-color: #eff0f1d5;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2)
}

/* IDs
   I probably shouldn't use so many IDs in a webpage as simple as this, but I chose to keep this way since these styles are really specific
*/

#apps-icon {
    align-self: center;
    margin-top: 8px;
    padding-left: 15px;
}

#button-sign {
    border: 1px solid #1a73e8;
    border-radius: 4px;
    padding: 4px 26px;
    background-color: #1a73e8;
    font-size: 14px;
    color: #fff;
    margin-left: 12px;
}

#logo {    
    margin-top: auto;    
}

#search-form-homepage {
    width: 100%;
    padding: 20px;    
    margin-bottom: auto;

}

#search-box-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: calc((100% - 544px) / 2);
    margin-right: calc((100% - 544px) / 2);
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 1px;
    border-radius: 24px;
    border-style: solid;
    border-color:rgb(200, 200, 200);
    
}

#search-box-container:hover {
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);    

}

#search-box-container:focus-within {
    box-shadow: 1px 1px 8px 1px rgb(0, 0, 0, 0.1); 
}

#search-box {
    border-style: none;
    width: 90%;
    margin: auto;
}

#search-box:focus {
    outline: none;
}

#search-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 40px auto;
    padding-left: 40vw;
    padding-right: 40vw;
}